.btn {
  width: 100%;
  max-width: 152px;
  height: 56px;
  padding-top: 1.8rem;
  padding-bottom: 1.6rem;
  padding-left: 2.4rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: normal;
  border-radius: 0.8rem;
}
.dark-btn {
  background-color: $white-color;
  color: $black-light-color;
  transition: 0.3s;
}
.dark-btn:hover {
  background-color: $pink-light-color;
  color: $white-color;
}
.light-btn {
  background-color: $pink-silver-color;
  color: $white-color;
  transition: 0.3s;
  font-size: 1.3rem;
}
.light-btn:hover {
  background-color: $pink-light-color;
  color: $white-color;
}

// BUT
.web-btn__inner-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.web-btn__text {
  color: $white-color;
}
// .web-btn__text:hover {
//   color: rebeccapurple;
// }
.web-btn__icon {
  img {
    width: 5px;
    height: 10px;
  }
}
