$pink-silver-color: #e7816b;
$pink-light-color: #ffad9b;
$black-color: #1d1c1e;
$black-light-color: #333136;
$white-color: #ffffff;
$white-light-color: #f1f3f5;

$main-ff: "Jost", sars-serif;
